/* span.a {
    display: inline;
    width: 70px;
    height: 70px;
    padding: 15px;
    border: 1px solid yellowgreen;
    background:yellow;
}

span.b {
    display: inline-block;
    width: 70px;
    height: 70px;
    padding: 15px;
    border: 1px solid yellowgreen;
    background:yellow;
}

span.c {
    display: block;
    width: 70px;
    height: 70px;
    padding: 15px;
    border: 1px solid yellowgreen;
    background:yellow;
}

nav a {
    display: inline-block;
    padding: 7px;
    background: green;
    margin-right: -4px;
} */

div.static {
    position: static;
    border: 3px solid grey;
}

div.relative {
    border: 3px solid grey;
    position: relative;
    left: 50px;
}

div.relative2 {
    margin-top: 50px;
    border: 3px solid grey;
    position: relative;
    width: 600px;
    height: 300px;
}

div.absolute {
    border: 3px solid grey;
    position: absolute;
    width: 300px;
    height: 100px;
    top: 0;
    right: 0;   
    display: none;
    cursor: pointer;
}

div.relative2:hover > div.absolute {
    display: block;
}

div.absolute:hover {
    display: block;
    background-color: red;
}

