body {
  background: #fdfdfd;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}
.navigation {
  display: flex;
  width: 80%;
  margin: 25px auto 80px auto;;
}

.navigation a {
  text-decoration: none;
  color: black;
}

.navigation-left {
  color: #fe6e53;
  flex: 1;
  display: flex;
  font-weight: 700;
  font-size: 2.5em;
}

.navigation-left p {
  margin: auto;
}

.navigation-main nav {
  border: 1px solid #cccccc;
  border-radius: 50px;
  height: 68px;
}

.navigation-main {

  flex: 2;
  display: flex;
}

.navigation-main nav {
  width: 100%;
  padding: 0;
}

.navigation-main nav ul {
  width: 80%;
  margin: auto;
  padding-left: 25px;
}

.navigation-main nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 25px 20px;
}

.navigation-main nav ul li:hover {
  border-bottom: 1px solid #fe6e53;
}

.navigation-main nav ul li:nth-child(4) {
  padding-right: 0
}

.navigation-main nav ul li:nth-child(1) {
  padding-left: 0
}

.navigation-right {
  flex: 1;
  display: flex;
}

.navigation-main nav ul li:nth-child(1) {
  padding-left: 20px;
}

.navigation-main nav ul li:nth-child(4) {
  padding-right: 20px;
}

.fa-user-circle {
  font-size: 2em;
  color: #fe6e53;
  padding: 15px;
  border: 2px solid #fe6e53;
  border-radius: 50%;
}

.navigation-right div {
  margin: auto;
}

.navigation-right div {
  display: flex;
}

.navigation-right div:nth-child(1) {
  margin-left: 150px;
}

.navigation-right div:nth-child(2) {
  margin-left: -20px;
}

.navigation-right div a:nth-child(2) {
  margin: 10px 0 0 0;
  font-size: 2em;
}

.navigation-right div a:nth-child(1) {
  margin-left: 5px;
}

#section1,
#section2 {
  display: flex;
}

#section2 {
  margin-top: 100px;
}

.section1-left,
.section2-left {
  flex: 3;
  margin-left: 260px;
  display: flex;
  flex-direction: column
}

.section1-right {
  flex: 5;
  background: url('/Class/november16/images/main.jpg');
  height: 800px;
  background-size: cover;
}

.section1-left > div:nth-child(1) {
  flex: 1;
}

.section1-left > div:nth-child(2) {
  flex: 1;
  display: flex;
  margin-bottom: 50px;
}

.section1-left > div:nth-child(3) {
  flex: 1;
  margin-bottom: 50px;
}

.section1-left > div:nth-child(4) {
  flex: 1
}

.section1-left > div:nth-child(4) p{
  display: flex;
}

.section1-left div:nth-child(1) p {
  font-size: 4.5em;
  color: #59558b;
  margin-bottom: 50px;
}

.section1-left div:nth-child(2) div:nth-child(1) {
  flex: 1;
  font-size: 4em;
  color: #aea3f0;
}

.section1-left div:nth-child(2) div:nth-child(2) {
  flex: 5;
}

.section1-left div:nth-child(2) div:nth-child(2) p {
  width: 70%;
  color: #605c8d;
  font-size: 1.3em;
  line-height: 1.3em;
  margin: 0;
  font-weight: 700;
}

.button {
  border: 2px solid #fe6e53;
  padding: 35px 40px;;
  text-align: center;
  width: 200px;
  border-radius: 40px;
  font-size: 1.3em;
  color: #5e5a8c;
  cursor: pointer;
}

.button:hover {
  border: 2px dashed #fe6e53;
}

.button i {
  margin-left: 20px;
  color: #fe6e53
}

.fa-dot-circle {
  font-size: 3em;
  align-items: center;
}

.fa-circle {
  margin: auto 15px;
  color: #e7e6eb;
}

.first-circle {
  border: 10px solid #fe6e53;
  border-radius: 50%;
  color: white;
  margin-left: 0;
}

.second-circle {
  margin-left: 15px;
}

.section2-right {
  flex: 5;
  height: 600px;
}

.section2-right img {
  width: 350px;
  float: left;
}

.section2-left > div:nth-child(1) {
  flex: 1;
}

.section2-left > div:nth-child(2) {
  flex: 1;
}

.section2-left > div:nth-child(3) {
  margin-top: 100px;
  flex: 1;
}

.section2-left > div:nth-child(4) {
  flex: 1;
}

.section2-left > div:nth-child(1) p,
.featured-title p {
  letter-spacing: 5px;
  color: #fe6e53;
  font-weight: 700;
  margin: 0;
}

#section4 .featured-title p {
  margin-top: 76px;
}

.section2-left > div:nth-child(2) p,
.section3-headline > div:nth-child(1) p {
  font-size: 4em;
  color: #59558b;
  margin-bottom: 50px;
}

.section2-left > div:nth-child(3) p {
  width: 70%;
  color: #605c8d;
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight: 700;
  padding-top: 15px;
}

.small-button {
  border: 2px solid #fe6e53;
  padding: 22px 26px;;
  width: 150px;
  border-radius: 40px;
  font-size: 1.2em;
  margin-top: 50px;
}

hr {
  width: 50px;
  float: left;
  color: #fe6e53;
  border: 2px solid #fe6e53
}

#section3 {
  margin-top: 200px;
  margin-left: 260px;
}

.section3-headline,
.section3-footline {
  display: flex;
}

.section3-headline > div:nth-child(1),
.section3-footline > div:nth-child(1) {
  flex: 3;
}

.section3-headline > div:nth-child(2),
.section3-footline > div:nth-child(2) {
  flex: 2;
  display: flex
}

.section3-headline > div:nth-child(2) div:nth-child(1) {
  flex: 1;
}

.section3-headline > div:nth-child(2) div:nth-child(1) p {
  font-size: 10em;
  margin: 50px 70px 50px 0;
  color: #d7d7e1
}

.section3-headline > div:nth-child(2) div:nth-child(2) p {
  font-size: 4em;
  margin: 70px 0 0 -60px;
  color: #d7d7e1
}

.section3-headline > div:nth-child(2) div:nth-child(2) {
  flex: 1
}

.section3-panorama {
  display: flex;
  margin-left: -150px;
}

.section3-panorama > div:nth-child(1) {
  flex: 1;
  display: flex;
}

.section3-panorama > div:nth-child(2) {
  flex: 10
}

.section3-panorama > div:nth-child(3) {
  flex: 1;
  display: flex;
}

.section3-panorama > div:nth-child(1) i,
#section4 .section4-right div:nth-child(1) i {
  margin: auto;
  border: 2px solid #c5c5c5;
  color: #fe6e53;
  padding: 35px 38px;
  border-radius: 50%;
  cursor: pointer;
}

.section3-panorama > div:nth-child(1) i:hover,
#section4 .section4-right div:nth-child(1) i:hover {
  border: 2px dashed #c5c5c5;
}

.section3-panorama > div:nth-child(3) i,
#section4 .section4-right div:nth-child(2) i {
  margin: auto 0 auto -30px;
  border: 2px solid #fe6e53;
  color: #808080;
  padding: 35px 38px;
  border-radius: 50%;
  cursor: pointer;
}

.section3-panorama > div:nth-child(3) i:hover,
#section4 .section4-right div:nth-child(2) i:hover {
  border: 2px dashed #fe6e53;
}

.section3-panorama img {
  width: 96%;
}

.section3-footline > div:nth-child(1) p {
  width: 70%;
  color: #605c8d;
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight: 700;
  padding-top: 15px;
}

.section3-footline > div:nth-child(2) {
  margin-top: 40px;
}

.section3-footline > div:nth-child(2) > div:nth-child(1) {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.section3-footline > div:nth-child(2) > div:nth-child(2) {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: -250px;
}

.section3-footline > div:nth-child(2) > div:nth-child(1) > div:nth-child(1),
.section3-footline > div:nth-child(2) > div:nth-child(1) > div:nth-child(2),
.section3-footline > div:nth-child(2) > div:nth-child(1) > div:nth-child(3),
.section3-footline > div:nth-child(2) > div:nth-child(2) > div:nth-child(1),
.section3-footline > div:nth-child(2) > div:nth-child(2) > div:nth-child(2),
.section3-footline > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) {
  flex: 1
}

.section3-footline > div:nth-child(2) > div:nth-child(1) > div:nth-child(1),
.section3-footline > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  color: #fe6e53
}

.section3-footline > div:nth-child(2) > div:nth-child(1) > div:nth-child(2),
.section3-footline > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  color: #605c8d;
  font-size: 1.3em;
  margin-top: -27px;
}

#section-our-clients {
  width: 100%;
  height: 300px;
  background: #fe6e53;
  margin: 100px 0;
}

.div-our-clients {
  width: 75%;
  margin-left: 250px;
  display: flex;
  height: 300px;
}

.div-our-clients  > div:nth-child(1) {
  flex: 2;
  display: flex;
}

.div-our-clients  > div:nth-child(2) {
  flex: 3;
  display: flex;

}

.div-our-clients  > div:nth-child(3) {
  flex: 2;
  display: flex;
}

.div-our-clients .small-button {
  border-color: white;
  color: white;
  margin: auto;
}

.div-our-clients  > div:nth-child(1) p{
  color: white;
  margin: auto;
  font-size: 4em;
}

.div-our-clients  > div:nth-child(2) div {
  margin: auto;
  color: white;
  font-size: 8em;

}

.div-our-clients  > div:nth-child(2) div i:nth-child(2) {
  margin: auto 20px;
}

.headline-font {
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  font-size: 4em;
  color: #605c8d
}

#section4 .headline-font {
  font-size: 3.5em;
}

footer,
#footer {
  width: 100%;
  color: #d3e6cb
}

#footer {
  background: #a2bc99;
  height: 200px;
  display: flex;
}

#footer > div {
  flex: 1;
  display: flex
}

#footer > div:nth-child(1) {
  margin: auto -120px auto 270px;
}

#footer > div:nth-child(2),
#footer > div:nth-child(3) {
  margin: auto 0 auto -60px
}

#footer > div:nth-child(4) {
  margin-left: -200px;
}

#footer > div:nth-child(2) p {
  margin-left: 120px;
}

.footer-white {
  color: white;
  list-style-type: none;
  margin-left: -20px
}

.footer-white li {
  display: inline-block;
  margin: 68px 0 0 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.432);
  padding-bottom: 10px;
}

#footer-navigation .navigation .navigation-main nav {
  border: none;
}

#footer-navigation .navigation .navigation-main {
  margin-left: 110px;
  width: 100%;
  flex: 4
}

#footer-navigation {
  margin-bottom: -60px;
}

#footer-navigation .navigation-left p {
  margin-left: 100px;
}


.navigation-right-footer {
  flex: 1;
  margin: auto 0 auto 20px;
}

.navigation-right-footer i {
  font-size: 1.8em;
  margin-right: 8px;
  cursor: pointer
}

.navigation-right-footer i:nth-child(1) {
  color: #4267b2
}

.navigation-right-footer i:nth-child(2) {
  color:  #38A1F3
}

.navigation-right-footer i:nth-child(3) {
  color: #db443c
}

.navigation-right-footer i:nth-child(4) {
  margin-right: 0;
  color: #e98b21
}

#section4 {
  width: 72%;
  display: flex;
  margin-left: 260px;
}

#section4 .section4-left,
#section4 .section4-main {
  flex: 3;
  display: flex;
  flex-direction: column
}

#section4, .section4-right {
  flex: 2;
}

#section4-right {
  display: flex;
  flex-direction: column
}

#section4-right div {
  display: flex;
}

#section4-right .small-button {
  display: block
}

#section4 .section-left div {
  flex: 1;
}

#section4 .headline-font-small {
  font-size: 2.5em;
  font-family: 'EB Garamond', serif;

}

.section4-main div:nth-child(2) p:nth-child(2) {
  color: #db443c
}

.subscribe-div p:nth-child(2){
  color: #605c8d;
  font-size: 1.8em;
}

.subscribe-div p:nth-child(3){
  color: #605c8d;
  font-size: 1.3em;
}

.section4-main div:nth-child(3) p {
  color: #605c8d;
  width: 80%;
  line-height: 1.4em;
}

.section4-main hr {
  margin-left: 0;
}

.section4-main div:nth-child(5) {
  color: #db443c;
  cursor: pointer;
}

.section4-main {
  background: rgba(230, 230, 230, 0.295);
  box-shadow: 0px 0px 50px rgba(230, 230, 230, 0.295);
  padding: 60px 20px 60px 40px;
}

#section4 .section4-right div:nth-child(1) i,
#section4 .section4-right div:nth-child(2) i {
  margin: auto auto auto 20px;
}

#section4 .section4-right div:nth-child(1) i {
  margin-top: 150px;
}

#section4 .section4-right div:nth-child(2) {
  margin-top: 30px;
}

#section4-right div div {
  margin: 200px auto 30px auto;
}

.subscribe-div input {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
  color: gray;
}