html, body {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

header {
    height: 120px;
    width: 100%;
    background: grey;
    line-height: 120px;
    color: white;
    padding-left: 10px;
}

footer {
    height: 80px;
    width: 100%;
    background: grey;
    line-height: 80px;
    color: white;
    padding-left: 5px;
}

aside {
    width: 28%;
    float: left;
}

article {
    width: 70%;
    float: right;
}

li {
    padding: 10px;
    list-style-type: none;
    margin-left: 0;
    background: lightblue;
    width: 100%;
    margin: 7hbpx;
}

ul {
    padding-left: 20px;;
}

footer {
    clear: both;
}