* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
}

nav {
    overflow: hidden;
    background-color: rgb(51, 50, 50);
}

nav a {
    display: block;
    float: left;
    color: #c0bebef2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

nav a:hover {
    background-color:#c0bebef2;
    color: rgb(51, 50, 50);
}

.column {
    width: 33.33%;
    float: left;
    padding: 15px;
}

footer {
    background-color: @f1f1f1;
    padding: 10px;
    text-align: center;
    clear: both;
    width: 100%;
    background-color: grey;
    position: fixed;
    bottom: 0;
}