.html {
    box-sizing: border-box
}

* {
    box-sizing: border-box;
}

div.container {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

div.row {
    flex: 100%;
    display: flex;
}

.box {
    background-color: gainsboro;
    height: 100px;
    flex: 1;
    border: 1px solid black;
}