ul(style={'list-style': 'none', 'padding-left': '0px'})
    li(style={display: 'inline', margin:'6px'}): a(href='/graphic') Graphic Card
    li(style={display: 'inline', margin:'6px'}): a(href='/hdmi') HDMI Cable
    li(style={display: 'inline', margin:'6px'}): a(href='/ssd') SSD Drive
    li(style={display: 'inline', margin:'6px'}): a(href='/summary') Summary