
.cloud{
    position: absolute;
}
.cloud:nth-child(1){
    width: 200px;
    top:85px;
    animation:move 8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 4 normal;
}
.cloud:nth-child(2){
    width: 300px;
    left:30%;
    animation: flip 10s ease-in infinite reverse;
}
.cloud:nth-child(3){
    width: 200px;
    top:85px;
    opacity: 0.3;
    animation:move-opacity 8s linear infinite alternate;
}
.cloud:nth-child(4){
    width: 150px;
    left:70%;
    animation: rotate-scale-up 0.65s linear both infinite;
}
@keyframes move{
    from{transform: translateX(-300px)}
    to{transform: translateX(1200px)}
}
@keyframes flip{
    0%{transform: rotateY(0deg)}
    100%{transform: rotateY(180deg)}
}
@keyframes move-opacity{
    0%{transform: translateX(-300px); opacity: 0.3}
    30%, 50%{transform: translateX(300px); opacity: 0.6}
    100%{transform: translateX(1200px); opacity:1}
}

@keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  
  



  