.html {
    box-sizing: border-box
}

* {
    box-sizing: border-box;
}

div.container {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

div.row,
div.result {
    flex: 100%;
    display: flex;
}

.box {
    background-color: gainsboro;
    margin: 10px;
    height: 150px;
    flex: 1
}

#color-picker-button {
    width: 100px;
    height: 50px;
    margin: auto;
}

.box1 {
    background: red
}

.box2 {
    background: lightskyblue
}

.box3 {
    background: salmon

}

.box4 {
    background: yellow
}

.box5 {
    background: blueviolet
}

.box6 {
    background: orange
}

.box7 {
    background: green
}

.box8 {
    background: gray
}

.box9 {
    background: springgreen
}

.selected,
.selected2,
.selected3 {
    border: 5px solid black;
}