* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #64666e54;
    color: #555;
    font-size: 1.1em;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif
}

.container {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    margin: auto;
}

.container > * {
    background-color: white;
}

.div1 {
    background: red;
}

.div2 {
    background: blue;
}

.div3 {
    background: yellow;
}

.div4 {
    background: pink;
}

.div5 {
    background: green;
}

.div6 {
    background: orange;
}

.div7 {
    background: blueviolet;
}

.div8 {
    background: silver;
}

.div9 {
    background: black;
}

.div10 {
    background: salmon;
}


@media screen and (max-width: 479px) {
    .div1 {
        grid-row: 1;
        grid-column: 1 / 13;
    }
    
   .div2 {
        grid-row: 2;
        grid-column: 1 / 13;
    }
    
    .div3 {
        grid-row: 3;
        grid-column: 1 / 13;
    }
    
    .div4 {
        grid-row: 4;
        grid-column: 1 / 13;
    }
    
    .div5 {
        grid-row: 5;
        grid-column: 1 / 13;
    }
    
    .div6 {
        grid-row: 6;
        grid-column: 1 / 13;
    }
    
    .div7 {
        grid-row: 7;
        grid-column: 1 / 13;
    }
    
    .div8 {
        grid-row: 8;
        grid-column: 1 / 13;
    }
    
    .div9 {
        grid-row: 9;
        grid-column: 1 / 13;
    }
    
    .div10 {
        grid-row: 10;
        grid-column: 1 / 13;
    }
}


@media screen and (min-width: 480px) and (max-width:639px) {
    .div1 {
        grid-row: 1;
        grid-column: 1 / 13;
    }
    
   .div2 {
        grid-row: 2;
        grid-column: 1 / 13;
    }
    
    .div3 {
        grid-row: 3 / 5;
        grid-column: 1 / 13;
    }
    
    .div4 {
        grid-row: 5;
        grid-column: 1 / 13;
    }
    
    .div5 {
        grid-row: 6;
        grid-column: 1 / 13;
    }
    
    .div6 {
        grid-row: 7;
        grid-column: 1 / 13;
    }
    
    .div7 {
        grid-row: 8;
        grid-column: 1 / 7;
    }
    
    .div8 {
        grid-row: 8;
        grid-column: 7 / 13;
    }
    
    .div9 {
        grid-row: 9;
        grid-column: 1 / 7;
    }
    
    .div10 {
        grid-row: 9;
        grid-column: 7 / 13;
    }
}


@media screen and (min-width: 640px) {
    .div1 {
        grid-row: 1 / 3;
        grid-column: 1 / 7;
    }
    
   .div2 {
        grid-row: 1 / 3;
        grid-column: 7 / 13;
    }
    
    .div3 {
        grid-row: 3 / 5;
        grid-column: 1 / 13;
    }
    
    .div4 {
        grid-row: 5 / 7;
        grid-column: 1 / 5;
    }
    
    .div5 {
        grid-row: 5 / 7;
        grid-column: 5 / 9;
    }
    
    .div6 {
        grid-row: 5 / 7;
        grid-column: 9 / 13;
    }
    
    .div7 {
        grid-row: 7 / 9;
        grid-column: 1 / 4;
    }
    
    .div8 {
        grid-row: 7 / 9;
        grid-column: 4 / 7;
    }
    
    .div9 {
        grid-row: 7 / 9;
        grid-column: 7 / 10;
    }
    
    .div10 {
        grid-row: 7 / 9;
        grid-column: 10 / 13;
    }
}